<div class="jumbotron container">
  <h1 class="fP-text-highlight mb-3">frontPage</h1>
  <h4>
    We want to change the way <span class="fP-text-highlight">news</span> is
    consumed.
  </h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle"
        src="assets/images/placeholder_img_1.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2 class="pt-2">Never Forget</h2>
      <p>
        We tend to forget, even the things we dont want to! its Human Nature!!
        This section is dedicated to all those stories and events that are
        <span class="fP-text-highlight">too important for us to forget</span>.
      </p>
    </div>

    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle"
        src="assets/images/placeholder_img_2.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2 class="pt-2">The Bigger Picture</h2>
      <p>
        News shouldnt just be new information, it should be a sequence of
        related events, the way things are actually happening. in Our NEWS
        section - Todays News is served with a simple and brief trail of
        articles that
        <span class="fP-text-highlight">best describe the story as a whole</span
        >.
      </p>
    </div>

    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle"
        src="assets/images/placeholder_img_3.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2 class="pt-2">Vote, Request and Share</h2>
      <p>
        More power to You! Up vote a news story for it to get
        <span class="fP-text-highlight">attention</span>, request a review or
        change. Start a pettition.
      </p>
    </div>
  </div>
</div>
