<ng-container *ngIf="alltopics$ | async as alltopics; else loadingOrError">
  <div class="container" *ngFor="let topic of alltopics; let i = index">
    <div
      *ngIf="topic.latestNewsItem as newsItem"
      class="card shadow rounded mb-3"
    >
      <div class="card-body">
        <div class="fpRow">
          <div class="me-3">
            <img
              class="shadow-lg rounded center-cropped"
              [src]="newsItem.imgUrl"
            />
          </div>
          <div>
            <h3 class="featurette-heading">
              {{ newsItem.headline }}
            </h3>
            <p>
              <a
                class="animate_flash"
                data-bs-toggle="collapse"
                href="#timelineCollapse{{ i }}"
                role="button"
                aria-expanded="false"
                aria-controls="timelineCollapse"
                *ngIf="topic.newsitems.length"
              >
                Timeline
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="card-footer text-center text-muted">
        <span class="pe-5">{{ newsItem.publishDate | date }}</span>
      </div>
    </div>
    <div class="collapse" id="timelineCollapse{{ i }}">
      <fPtimelineitem [newsItemObservable]="topic"></fPtimelineitem>
    </div>
  </div>
</ng-container>
<ng-template #loadingOrError>
  <ng-container *ngIf="errorObject; else loading">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Ahhh!! Something Went Wrong</h4>
      <hr />
      <p class="mb-0">
        We will be back soon. If anything is urgent please drop an email to
        ananthshenoy@ymail.com
      </p>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</ng-template>
